apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: frontend-ui
spec:
  type: {{ .Values.service.type }}
  {{- if .Values.service.loadBalancerClass }}
  loadBalancerClass: {{ .Values.service.loadBalancerClass }}
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    app: frontend-ui
