# Terraform
**/.terraform/*
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Python / Virtual Environments
venv/
.venv/
__pycache__/
*.py[cod]

# SSH Keys
id_rsa_terraform
*.pem

# Ansible
*.retry

# OS / Misc
.DS_Store
*.log
*.deb
