loki:
  enabled: true
  isDefault: true
  persistence:
    enabled: true
    size: 5Gi
  config:
    auth_enabled: false

promtail:
  enabled: true
  config:
    logLevel: info
    clients:
      - url: http://loki-stack:3100/loki/api/v1/push
